@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    width: 2px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    color: red;
    background-color: orange;
}

.outlined {
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 1px;
}

input::placeholder {
    font-size: 14px;
    color: grey;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}